certifi
charset-normalizer
click
cloudpickle
cycler
docker-pycreds
fonttools
future
gitdb
GitPython
gymnasium
gym==0.25.2
idna
joblib
kiwisolver
matplotlib
numpy
packaging
pandas
Pillow
ply
promise
protobuf
psutil
pyglet
pyparsing
python-dateutil
pytz
PyYAML
requests
scipy
seaborn
sentry-sdk
setproctitle
shortuuid
six
smmap
torch
typing-extensions
urllib3
wandb
nle
pathtools
# minihack==0.1.3